.loader {
  width: 64px;
  height: 64px;
  background: #FFF;
  border-radius: 4px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
}
 
.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #788db9;
  box-shadow: 32px -34px 0 5px #667787;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #dad89e;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {

  0%,
  100% {
    bottom: -35px
  }

  25%,
  75% {
    bottom: -2px
  }

  20%,
  80% {
    bottom: 2px
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg)
  }

  25%,
  75% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(25deg)
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  all: unset;
}

li {
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat, sans-serif;
  color: #2e2f42;
  padding: 36px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  object-fit: cover;
  cursor: pointer;
}

.image {
  border: solid 1px #808080;
}

.imageStats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 4px 20px;
}

.imageStats p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.imageStats span {
  font-weight: 600;
}

.gallery-link {
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
  background: none;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  width: 371px;
  margin-bottom: 32px;
}

input {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 40px;
  width: 272px;
  padding: 8px 16px;
  border: solid 1px #808080;
  border-radius: 4px;
}

input:hover {
  border-color: #000000;
}

input:active {
  border-color: #808080;
}

button {
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #ffffff;
  font-weight: 500px;
  font-size: 16px;
  border-radius: 8px;
  width: 86px;
  height: 40px;
}

button:hover {
  background-color: #6c8cff;
}